.App {
  text-align: center;
}
.app {
  height: 100%;
}
.app.dark {
  color: #fff;
  background-color: #3a3c42;
}
.app.light {
  color: black;
}
.light button {
  background-color: #6064b6;
  color: #fff;
}
.dark button {
  background-color: #fbb034;
}
.theme {
  background-color: rgb(218, 211, 202);
  padding: 5px 15px;
  border-radius: 5px;
  border: none;
}
.theme-button {
  right: 0;
  position: fixed;
}
.header {
  padding: 50px 20px 30px 20px;
}
.dark .header h1 {
  font-size: 50px;
  color: #fbb034;
  text-shadow: 1px 2px rgba(0, 0, 0, 0.9);
}
.light .header h1 {
  font-size: 50px;
  color: #000;
  text-shadow: 1px 3px rgba(165, 165, 165, 0.9);
}
.selectbar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 50px;
}
.dark .selectbar #cityname {
  border: 0;
  outline: 0;
  background-color: #fbb034;
  padding: 10px 20px;
  border-radius: 5px;
}
.light .selectbar #cityname {
  border: 0;
  outline: 0;
  background-color: #6064b6;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
}
.dark .selectbar .date {
  color: #fbb034;
}
.light .selectbar .date {
  color: #6064b6;
}
.content {
  margin-top: 20px;
}
.dark .content .city-title {
  color: #fbb034;
}
.light .content .city-title {
  color: #6064b6;
}
.weather-container {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  margin-top: 50px;
  width: 1200px;
  position: relative;
  margin: auto;
}
.dark .weather-container .weather-card {
  color: #fbb034;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  padding: 15px;
  position: relative;
  transition: all 0.5s linear;
  height: 350px;
}
.light .weather-container .weather-card {
  color: #000;
  background-color: rgba(114, 161, 159, 0.1);
  border-radius: 5px;
  padding: 15px;
  position: relative;
  transition: all 0.5s linear;
  height: 350px;
}
.weather-container .weather-card:hover {
  bottom: 15px;
  cursor: pointer;
  backdrop-filter: blur(50px);
}
.weather-container .weather-card .weather-description {
  font-weight: bold;
  margin-bottom: 6px;
}
.weather-container .weather-card .weather-temp {
  font-size: 17px;
  font-style: italic;
  margin-top: 6px;
}
